header {
    background-color: #2e2e2e;
    height: 40px;
    width: 100%;
    border-bottom: 3px solid #a57a1d;
    position: fixed;
}


h1 {
    color: #ffffff;
    padding-top: 7px;
    padding-left: 10px;
    text-transform: uppercase;
    margin: 0px;
    font-family: Bebas Neue;
}

.menu {
    list-style: none;
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 3px;
}

.menu li{
    display: inline;
    font-family: Banda Niera;
    font-size: 25px;
    padding: 10px 10px;
}

a {
    color: #ffffff;
    transition-duration: 0.5s;
    text-decoration: none;
}

a:hover {
    color: #a57a1d;
}

body{
    background-image: url('https://wallpaperaccess.com/full/92762.jpg');
    background-attachment: fixed;
}

.par{
    text-indent: 40px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    color: rgb(226, 226, 226);
}

h2{
    text-align: left;
    margin-left: 110px;
}

#img{
    margin-right: 50px;
    margin-top: 40px;
}

.bat{
    margin-left: 150px;
    margin-right: 650px;
}

.du{
    margin-left: 90px;
    margin-right: 50px;
}

#joga{
    text-align: left;
    margin-top: 80px;
    margin-left: 40px;
}

#person{
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}

.fundo{
    width: 1300px;
	height: 2700px;
	border: 2px solid #000;
	margin: auto;
	text-align: center;
    background-color: rgba(90, 0, 126, 0.8);
}

footer {
    background: #2e2e2e;
    text-align: center;
    color:#ffffff;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 50px;
    position: fixed;
    width: 100%;
}